language: vala
compiler:
  - vala
  - gcc
before_install:
  - sudo add-apt-repository -y ppa:vala-team/ppa
  - sudo apt-get update -qq
  - sudo apt-get install valac-0.24 libgee-0.8-dev gobject-introspection
  - git clone git://github.com/inizan-yannick/mee mee && cd mee && ./autogen.sh && make && sudo make install && cd .. && rm -rf mee
script: ./autogen.sh && make && sudo make install
notifications:
  irc:
    channels:
      - "irc.freenode.net#canaldev"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
